ssh/.ssh
*.elc
i3/.config/i3/config
i3/.config/i3/status_config_left
i3/.config/i3/status_config_right
i3/.config/i3/status_config
rofi/.config/rofi/Xresources
termite/.config/termite/config
dunst/.config/dunst/dunstrc

pushover/.config/pushover/token
pushover/.config/pushover/user
