[Unit]
Description=Emacs: the extensible, self-documenting text editor

[Service]
Type=forking
ExecStart=/usr/bin/bash %h/.emacs.d/daemon start
ExecStop=/usr/bin/bash %h/.emacs.d/daemon stop
# Restart=always

[Install]
WantedBy=default.target
